.typingContainer {
  display: flex;
  flex-wrap: wrap;
}

.typingContainer:focus-within {
  outline: 2px solid white;
}

.word {
  margin-inline: 0.25em;
}

.typingInput {
  position: absolute;

  opacity: 0;

  overflow: hidden;

  width: 1px;
  height: 1px;
}
